.button {
  background-color: $blue;
  border: none;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;  
  line-height: 1;
  outline: none;
  padding: $s-size $m-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}