.dashboard {
  display: flex;
}

.dashboard__sidebar {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  overflow-y: auto;
  width: 260px;
  height: $chat-height;
  background: rgba(255, 255, 255, 0.171);
}

.dashboard__sidebar h3 {
  color: rgba(200, 200, 200, 1);

  padding: 0;
  text-align: left;
}

.dashboard__sidebar ul {
  list-style-type: none;
  // border: 1px solid #e1e1e1;
  margin-bottom: 2rem;
}

.dashboard__sidebar li {
  // background: #e6eaee;
  // border: 1px solid #e1e1e1;

  // font-style: italic;
  font-weight: 900;
  // border-radius: 5px;
  padding: 0px 10px;
  margin: 0px 10px;
}

.dashboard__sidebar a {
  text-decoration: none !important;
  color: rgb(201, 201, 201);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.dashboard__sidebar__category {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 210, 31, 0.5);
  margin: 10px 20px 5px 20px;
}

.dashboard__main {
  display: flex;
  flex-direction: column;
  height: $chat-height;
  width: 100%;
}

.dashboard__main__wrapper {
  align-items: center;
  background: rgba(248, 248, 248, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 6rem;
}

.dashboard__form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.dashboard__form__greetings {
  font-size: $font-size-extra-large;
}

.dashboard__form__label {
  font-size: $font-size-large;
  margin: 1rem;
}

.dashboard__form__input {
  color: #08c;
  font-weight: 900;
  margin: 3rem 0;
  font-size: $font-size-large;
  text-align: center;
}

.dashboard__form__button {
  margin: auto;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .dashboard__sidebar {
    display: none;
  }

  .dashboard__footer {
    flex-direction: column;
  }

  .dashboard__footer form {
    margin-bottom: 10px;
  }

  .dashboard__footer button {
    margin-right: 0px;
  }
}
