.header {
  background: $dark-blue;
  height: $header-height;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header__title {
  color: white;
  text-decoration: none;

  h1 {
    margin: 0;
  }
}
